Django>2.0
dj-database-url
djangorestframework-jwt
djangorestframework
markdown
django-filter==1.1.0
django-cors-headers
graphene-django>2.*
pytest
pytest-django
pytest-cov
mixer
psycopg2
ipython
bleach
coverage
graphene
graphql-core
graphql-relay
PyJWT
python-dateutil
pytz
Rx
singledispatch
six
typing==3.6.5