legend:first-letter {
  text-transform:capitalize;
}

.updated {
  background-color: lightgreen;
}

.form-check {
  width: auto;
  max-width: 500px;
  min-width: 100px;
}

.radio-question legend {
  word-wrap: break-word;
}
